html{
    scroll-behavior: smooth;
}
body {
    background-color: #005679;
    font-family: 'Times New Roman', Times, serif;
    color: #02012B;
    align-content: center;
}

header {
    background-color: #ff2a6ea9;
    border-radius: 35px;
    width: 98%;
    max-height: 10rem;
    margin: auto;
    align-self: center;
    box-shadow: #ff2a6e83 3px 3px 7px;
    padding:.5rem ;
    display: flex;
    justify-content:space-around;
}

 
#inicio{
    text-align: center;
    color: #02012B; 
    font: bold serif;
    text-decoration:underline;
    transition: 0.5s ease-in-out;
    align-self:center;
}
    #logoface {
        object-fit:cover;
        border-radius: 20px;
        vertical-align: middle;
        border-radius: 25px;
        box-shadow: #01011825 4px 4px 4px;
}

#nav_header{
    position: sticky;
    top: 10px;
    align-items: center;
    display: flex;
    flex-direction:row;
    border-radius: 35px;
    justify-content: space-around;
    height: 3rem;
    width: 75%;
    box-shadow: #010118c0 3px 3px 7px;
    background-color: #02012B; 
    margin: 1rem auto;
}
#nav_header a {
    color: #FF2A6D;
    
    text-decoration: none;
    font-size: 1.15rem;
    transition:1s;
    font-weight: bold;
}
#nav_header a:hover{
    background-color: #4060D9;
    box-shadow: #01565c 3px 3px 5px;
    color: #FF2A6D;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 25px;
    padding: 0.5rem;
}

#block{
    background-color:#D1F8FF;
    margin: 1rem auto ;
    padding: 2rem;
    text-align: center;
    border-radius: 35px;
    box-shadow: #D1F8FF 3px 3px 3px;
}

