html{
    scroll-behavior: smooth;
}
body {
    background-color: #005679;
    font-family: 'Times New Roman', Times, serif;
    color: #02012B;
    align-content: center;
}

header {
    margin-top: 0.3rem;
    padding-bottom: 2rem;
    align-items: center;
}


 #inicio img {
        height: 60px;
        border-radius: 20px;
        vertical-align: middle;
}
    #inicio{
        margin-top:0;
        margin-bottom: 0.2em;
        text-align: center;
        color: #05D9E7;    
        font-size: xx-large;
        position: sticky;
        top: 0;
        transition: opacity 0.5s ease-in-out;
    }
    

.nav_header{
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    border-radius: 35px;
    justify-content: space-around;

    height: 3rem;
    width: 70%;
    box-shadow: #02012B 3px 3px 7px;
    background-color: #02012B; 
}
.nav_header a {
    
    color: #05D9E7;
    text-decoration: none;
    font-size: 1.15rem;
    transition:1s;
    font-weight: bold;
}
.nav_header a:hover{
    background-color: #05D9E7;
    box-shadow: #05D9E7 3px 3px 5px;
    color: #FF2A6D;
    border-radius: 25px;
    padding: 10px;
}


#block{background-color:
    #D1F8FF;
    margin:2rem;
    border-radius: 35px;
    padding: 1rem 2rem;
}