html{
    scroll-behavior: smooth;
}
body {
    background-color: #005679;
    font-family: 'Times New Roman', Times, serif;
    color: #02012B;
    align-content: center;
    margin: auto;
}

header {
    margin: auto;
    align-items: center;
    background-color: #ff2a6ec0;
    border-radius: 35px;
    padding: 0.7rem;
    width: 90%;
    align-self: center;
}

 #inicio img {
        height: 60px;
        border-radius: 20px;
        vertical-align: middle;
}
    #inicio{
        margin-top:0;
        margin-bottom: 0.5em;
        text-align: center;
        color: #05D9E7;    
        font-size: 3rem;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease-in-out;
        text-shadow:#02012B 3px 3px 3px;
    }
    

#nav_header{
    align-items: center;
    display: flex;
    flex-direction:row;
    margin: auto;
    border-radius: 35px;
    justify-content: space-around;
    height: 3rem;
    width: 70%;
    box-shadow: #010118 3px 3px 7px;
    background-color: #02012B; 
    margin-top: 2rem;
}

.sticky { 
    position: fixed;
    top: 0;
    border:35px;
    margin-left: 3rem ;
    transform: translateX(15%);
}

#nav_header a {
    color: #FF2A6D;
    
    text-decoration: none;
    font-size: 1.15rem;
    transition:1s;
    font-weight: bold;
}
#nav_header a:hover{
    background-color: #4060D9;
    box-shadow: #01565c 3px 3px 5px;
    color: #FF2A6D;
    font-weight: bolder;
    font-size: 1.3rem;
    border-radius: 25px;
    padding: 0.5rem;
}


#block{background-color:#D1F8FF;
    margin: 2rem auto ;
    padding: 2rem;
    width: 80%;
    text-align: center;
    border-radius: 35px;
    box-shadow: #05D9E7 3px 3px 3px;
}

